<h1>Listing events</h1>
  <% @events.each do |event| %>

    <dl class = "list_item <%= cycle('list_line_odd', 'list_line_even') %>">
      <dt><%= event.name %></dt>
      <dd> <%= event.description%></div> 
        <div class='moreInfo hidden'>
          Start: <%= event.start %><br/>
          End: <%= event.end %><br/>
          Location: <%= event.location %><br/>
          Host: <%= event.host %><br/>
          <%= link_to 'Edit', edit_event_path(event) %> <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
        </div>
      </dd>
    </dl>
  <% end %>
<br />

<%= link_to 'New Event', new_event_path %>


