<h1>New event</h1>

<form id="new-event" name="event">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="start"> start:</label>
    <input type="text" name="start" id="start" value="<%= start %>" >
  </div>

  <div class="field">
    <label for="end"> end:</label>
    <input type="text" name="end" id="end" value="<%= end %>" >
  </div>

  <div class="field">
    <label for="host"> host:</label>
    <input type="text" name="host" id="host" value="<%= host %>" >
  </div>

  <div class="field">
    <label for="location"> location:</label>
    <input type="text" name="location" id="location" value="<%= location %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>

<a href="#/index">Back</a>